/* mh18083-ejercicio1b.css   MH18083  */

fichero {background-color:blue;}
ficha:nth-child(1) {background-color:red; display:block;} 
ficha:nth-child(2) {background-color:purple; display:block;} 
nombre {color:white; font-size: 1cm;display:inline;} 
apellido {color:orange; font-size: 1cm;display:inline;}
direccion {color:yellow;font-size:1cm; display:inline;}
telefono {color:blue; font-size: 1cm; display: inline;}
email {color:aqua; font-size: 1cm; display: inline;}
website {color:green; font-size: 1cm; display: inline;}
dui {color:darkgray; font-size: 1cm; display: inline;}
isss {color:lightpink; font-size: 1 cm; display: inline;}
afp {color:tomato; font-size: 1 cm; display:inline; }